.main {
  max-width: 100%;
}

/* ===== ABOUT US MAIN ===== */
.about__hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.about__hero-container {
  height: 100%;
  position: relative;
}

.about__hero-image-warp {
  height: 100vh;
  background: url(../../static/images/about-us-hero.jpg);
  background-size: cover;
  background-position: 48%;
}

.about__hero-text-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    var(--color-black) 0%,
    var(--color-dark-gray) 10%,
    transparent 100%
  );
}

.about__hero-title {
  margin-top: 4.3rem;
  color: var(--color-white);
  font-size: var(--h1-fs);
  font-weight: var(--fw-medium);
  padding: 1rem;
}

.about__hero-line {
  border-top: 2px solid var(--color-white);
  width: 20%;
  margin-left: 1rem;
  animation: lineAppear 1s linear;
}

@keyframes lineAppear {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}

.about__hero-paragraph {
  padding: 1rem;
  color: var(--color-white);
  font-size: var(--normal-fs);
  font-weight: var(--fw-light);
  line-height: 1.4;
  letter-spacing: 1px;
}

/* ===== ABOUT US ASIDE NAVIGATION ===== */
.sticky {
  height: auto;
  position: relative;
}

.about__aside {
  position: -webkit-sticky;
  position: sticky;
  width: 100vw;
  top: 4rem;
  left: 0;
  z-index: var(--z-10);
  background-color: var(--color-white);
}

.about__aside-navigation {
  border: 3px solid var(--color-black);
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.about__aside-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
}

.about__aside-title {
  width: 100%;
  font-size: var(--h3-fs);
}

.about__aside-icon {
  font-size: 2rem;
}

.about__aside-list {
  padding: 0 1rem;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
}

.about__aside-link {
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-size: var(--normal-fs);
  font-weight: var(--fw-regular);
  letter-spacing: 1px;
}

.about__aside-link a {
  color: var(--color-black);
}

/* about aside animation appear */
.show__aside-list {
  display: block;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

/* ===== ABOUT US ===== */
.about__us {
  scroll-margin-top: 14rem;
  padding: 2rem 1rem 5rem;
  width: 100%;
}

.about__us-title {
  font-size: var(--h2-fs);
  padding: 1rem 0;
}

.about__us-paragraph {
  margin-bottom: 2rem;
  line-height: 1.4;
  font-size: var(--small-fs);
}

.about__us-image {
  background-image: url(../../static/images/about-us-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 13rem;
}

/* ===== OUR STORY ===== */
.about__story {
  scroll-margin-top: 14rem;
  padding: 2rem 0 5rem;
}

.about__story-title {
  font-size: var(--h2-fs);
  padding: 1rem 0 1rem 1rem;
}

.story__swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.story__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.story__slide-line {
  border-top: 3px solid black;
  width: 100%;
  margin: 2rem;
}

.story__slide-circle {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-red);
  border-radius: 50%;
  position: absolute;
  top: 1rem;
}

.story__slide-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}

.story__slide-title {
  font-size: var(--h1-fs);
  margin: 1rem 0;
}

.story__slide-paragraph {
  text-align: center;
  line-height: 1.3;
  margin: 0 1rem;
}

.swiper-horizontal .swiper-scrollbar {
  position: absolute;
  top: 86%;
  margin: 0 auto;
}

.swiper-scrollbar .swiper-scrollbar-drag {
  background-color: var(--color-red);
}

.swiper .swiper-button-next {
  position: absolute;
  top: 94%;
  left: 90%;
}

.swiper .swiper-button-prev {
  position: absolute;
  top: 94%;
  left: 80%;
}

.swiper .swiper-button-next::after {
  font-size: 0.7rem;
  color: var(--color-black);
}

.swiper .swiper-button-prev::after {
  font-size: 0.7rem;
  color: var(--color-black);
}

.swiper .swiper-pagination-fraction {
  width: fit-content;
  bottom: 3%;
  left: 1rem;
  font-size: var(--h3-fs);
}

/* ===== INVESTORS ===== */
.about__investors {
  scroll-margin-top: 14rem;
  padding: 2rem 1rem 5rem;
}

.about__investors-title {
  font-size: var(--h3-fs);
  padding: 1rem 0;
}

.about__invest-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.about__invest-image {
  width: 8rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#google {
  background-image: url(../../static/images/gv.png);
  background-color: #2e2e2e;
  background-size: contain;
}

#steve {
  background-image: url(../../static/images/steve.jpg);
}

#kevin {
  background-image: url(../../static/images/kevin.jpg);
}

#josh {
  background-image: url(../../static/images/josh.jpg);
}

#liam {
  background-image: url(../../static/images/liam.jpg);
}

#paddy {
  background-image: url(../../static/images/paddy.jpg);
}

#casey {
  background-image: url(../../static/images/casey.jpg);
}

.about__invest-content {
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.4;
}

.about__invest-name {
  font-size: var(--normal-fs);
}

.about__invest-title {
  font-size: var(--small-fs);
}

/* ===== SUSTAINABILITY ===== */
.about__sustainability {
  scroll-margin-top: 14rem;
  padding: 2rem 1rem 5rem;
}

.sustain__title {
  font-size: var(--h3-fs);
  padding: 1rem 0;
}

.sustain__image {
  background-image: url(../../static/images/sustain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
  margin-bottom: 2rem;
}

.sustain__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sustain__paragraph {
  font-size: var(--normal-fs);
  line-height: 1.4;
}

/*==================== MEDIA QUERIES ====================*/
/* For smaller devices */
@media screen and (max-width: 350px) {
  .about__invest-content {
    width: 8rem;
  }

  .about__invest-name {
    font-size: var(--small-fs);
  }

  .about__invest-title {
    font-size: var(--smaller-fs);
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .about__us-image {
    height: 20rem;
  }

  .about__us-paragraph {
    font-size: var(--normal-fs);
  }

  .about__invest-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .about__invest-image {
    width: 60%;
  }

  .about__invest-content {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .about__hero-title {
    font-size: var(--big-fs);
    width: 80%;
    margin: 8rem auto 1rem;
  }

  .about__hero-line {
    margin-left: calc(10% + 1rem);
    margin-bottom: 1rem;
  }

  .about__hero-paragraph {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    font-size: var(--h2-fs);
  }

  .about__aside {
    top: 0;
  }

  .about__us {
    max-width: 80%;
    margin: 0 auto;
  }

  .about__story-title {
    width: 80%;
    margin: 0 auto;
  }

  .story__slide-text {
    width: 80%;
  }

  .swiper-horizontal .swiper-scrollbar {
    right: 0;
  }

  .swiper-horizontal > .swiper-scrollbar {
    max-width: 80%;
  }

  .swiper .swiper-button-next {
    left: 87%;
  }

  .swiper .swiper-button-next::after {
    font-size: 1rem;
  }

  .swiper .swiper-button-prev::after {
    font-size: 1rem;
  }

  .swiper .swiper-pagination-fraction {
    left: 10%;
  }

  .about__investors {
    max-width: 80%;
    margin: 0 auto;
  }

  .about__sustainability {
    max-width: 80%;
    margin: 0 auto;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .about__hero-text-wrap {
    justify-content: center;
    align-items: center;
  }

  .about__hero-title {
    margin: 2rem 0 1rem;
    max-width: 1024px;
    text-align: center;
  }

  .about__hero-line {
    width: 15%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .about__hero-paragraph {
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    font-size: var(--h2-fs);
    text-align: center;
  }

  .sticky {
    display: grid;
    grid-template-columns: 20rem 1024px;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-content: center;
  }

  .about__aside {
    grid-area: 1 / 1 / 5 / 2;
    width: 100%;
    position: static;
    background-color: transparent;
    padding-top: 5rem;
  }

  .about__aside-navigation {
    border: none;
    width: 100%;
  }

  .about__aside-title-wrap {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  .about__aside-title {
    font-size: var(--h2-fs);
  }

  .about__aside-icon::before {
    display: none;
  }

  .about__aside-list {
    height: auto;
    visibility: visible;
    opacity: 1;
  }

  .about__aside-link {
    margin-bottom: 1rem;
  }

  .about__aside-link:hover {
    font-weight: var(--fw-bold);
  }

  .about__aside-link a {
    color: var(--color-light-gray);
  }

  .about__us {
    grid-area: 1 / 2 / 2 / 3;
    max-width: 1024px;
    margin: 5rem 0 10rem;
    padding: 0 1rem;
  }

  .about__us-title {
    padding-top: 0;
  }

  .about__us-image {
    height: 35rem;
  }

  .about__story {
    grid-area: 2 / 2 / 3 / 3;
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 10rem;
  }

  .about__investors {
    grid-area: 3 / 2 / 4 / 3;
    max-width: 1024px;
    width: 1024px;
    margin-bottom: 10rem;
  }

  .about__invest-image {
    width: 50%;
    height: 18rem;
  }

  .about__invest-content {
    margin: 0;
    padding: 0;
    width: 14rem;
  }

  .about__sustainability {
    grid-area: 4 / 2 / 5 / 3;
    max-width: 1024px;
    margin-bottom: 10rem;
  }

  .sustain__image {
    height: 35rem;
  }
}
