/*==================== VARIABLES CSS ====================*/
:root {
  /*===== Colors =====*/
  --color-white: #fff;
  --color-light-gray: #565656;
  --color-dark-gray: #181715;
  --color-black: #000;
  --color-red: #d21314;

  /*===== Font Family =====*/
  --font-body: 'Noto Sans Mono', monospace;
  --font-dot: 'quaxiculo';
  --font-bold: 'Fredoka One', cursive;

  /*===== Font Weight =====*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /*===== Font Size =====*/
  --big-fs: 2rem; /* 32px */
  --h1-fs: 1.5rem; /* 24px */
  --h2-fs: 1.25rem; /* 20px */
  --h3-fs: 1.125rem; /* 18px */
  --normal-fs: 0.938rem; /* 15px */
  --small-fs: 0.813rem; /* 13px */
  --smaller-fs: 0.75rem; /* 12px */

  /*===== z-index =====*/
  --z-1: 1;
  --z-10: 10;
  --z-100: 100;
}

/* ===== ABOUT US MAIN ===== */
.about__hero {
  /* border: 3px solid blue; */
  width: 100vw;
  height: 100vh;
  /* ? height 100vh - 4.3rem?? */
  /* ? margin top 4.3rem? */
}
.about__hero-container {
  height: 100%;
  position: relative;
}
.about__hero-image-warp {
  height: 100vh;
  background: url(../../static/images/about-us-hero.jpg);
  background-size: cover;
  background-position: 48%;
}
.about__hero-text-wrap {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    var(--color-black) 0%,
    var(--color-dark-gray) 10%,
    transparent 100%
  );
}
.about__hero-title {
  /* border: 1px solid white; */
  margin-top: 4.3rem;
  color: var(--color-white);
  font-size: var(--h1-fs);
  font-weight: var(--fw-medium);
  padding: 1rem;
}
.about__hero-line {
  border-top: 2px solid var(--color-white);
  width: 20%;
  margin-left: 1rem;
  animation: lineAppear 1s linear;
}

@keyframes lineAppear {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}

.about__hero-paragraph {
  /* border: 1px solid green; */
  padding: 1rem;
  color: var(--color-white);
  font-size: var(--normal-fs);
  font-weight: var(--fw-light);
  line-height: 1.4;
  letter-spacing: 1px;
}

/* ===== ABOUT US ASIDE NAVIGATION ===== */
.about__aside {
  border: 1px solid blue;
  /* position: -webkit-sticky;
  position: sticky;
  top: 10; */
}
.about__aside-navigation {
  border: 3px solid var(--color-black);
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.about__aside-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
}
.about__aside-title {
  width: 100%;
  font-size: var(--h3-fs);
}
.about__aside-icon {
  font-size: 2rem;
}
.about__aside-list {
  border: 1px solid green;
  padding: 0 1rem;
  /* display: none; */
  height: 0;
  opacity: 0;
  transition: 0.3s linear;
  z-index: -1;
}
.about__aside-link {
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-size: var(--normal-fs);
  font-weight: var(--fw-regular);
  letter-spacing: 1px;
}
.about__aside-link a {
  color: var(--color-black);
}

/* about aside animation appear */
.show__aside-list {
  display: block;
  height: 100%;
  opacity: 1;
  z-index: 1;
}

/* ===== ABOUT US ===== */
.about__us {
  border: 1px solid red;
  padding: 1rem;
}
.about__us-container {
  border: 1px solid blue;
}
.about__us-title {
  border: 1px solid green;
  font-size: var(--h2-fs);
  padding: 1rem 0;
}
.about__us-paragraph-wrap {
  border: 1px solid purple;
}
.about__us-paragraph {
  border: 1px solid pink;
  margin-bottom: 2rem;
  line-height: 1.4;
  font-size: var(--small-fs);
}
.about__us-image {
  border: 2px solid cyan;
  background-image: url(../../static/images/about-us-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 13rem;
}

/* ===== OUR STORY ===== */

/*==================== MEDIA QUERIES ====================*/
