/*==================== VARIABLES CSS ====================*/
:root {
  /*===== Colors =====*/
  --color-white: #fff;
  --color-light-gray: #565656;
  --color-dark-gray: #181715;
  --color-black: #000;
  --color-red: #d21314;

  /*===== Font Family =====*/
  --font-body: 'Noto Sans Mono', monospace;
  --font-dot: 'quaxiculo';
  --font-bold: 'Fredoka One', cursive;

  /*===== Font Weight =====*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /*===== Font Size =====*/
  --big-fs: 2rem; /* 32px */
  --h1-fs: 1.5rem; /* 24px */
  --h2-fs: 1.25rem; /* 20px */
  --h3-fs: 1.125rem; /* 18px */
  --normal-fs: 0.938rem; /* 15px */
  --small-fs: 0.813rem; /* 13px */
  --smaller-fs: 0.75rem; /* 12px */

  /*===== z-index =====*/
  --z-1: 1;
  --z-10: 10;
  --z-100: 100;
}
.main {
  width: 100vw;
  overflow-x: hidden;
}
/* ===== ABOUT US MAIN ===== */
.about__hero {
  /* border: 3px solid blue; */
  width: 100vw;
  height: 100vh;
  /* ? height 100vh - 4.3rem?? */
  /* ? margin top 4.3rem? */
}
.about__hero-container {
  height: 100%;
  position: relative;
}
.about__hero-image-warp {
  height: 100vh;
  background: url(../../static/images/about-us-hero.jpg);
  background-size: cover;
  background-position: 48%;
}
.about__hero-text-wrap {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    var(--color-black) 0%,
    var(--color-dark-gray) 10%,
    transparent 100%
  );
}
.about__hero-title {
  /* border: 1px solid white; */
  margin-top: 4.3rem;
  color: var(--color-white);
  font-size: var(--h1-fs);
  font-weight: var(--fw-medium);
  padding: 1rem;
}
.about__hero-line {
  border-top: 2px solid var(--color-white);
  width: 20%;
  margin-left: 1rem;
  animation: lineAppear 1s linear;
}

@keyframes lineAppear {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}

.about__hero-paragraph {
  /* border: 1px solid green; */
  padding: 1rem;
  color: var(--color-white);
  font-size: var(--normal-fs);
  font-weight: var(--fw-light);
  line-height: 1.4;
  letter-spacing: 1px;
}

/* ===== ABOUT US ASIDE NAVIGATION ===== */
.about__aside {
  border: 1px solid blue;
  /* position: -webkit-sticky;
  position: sticky;
  top: 10; */
}
.about__aside-navigation {
  border: 3px solid var(--color-black);
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.about__aside-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
}
.about__aside-title {
  width: 100%;
  font-size: var(--h3-fs);
}
.about__aside-icon {
  font-size: 2rem;
}
.about__aside-list {
  border: 1px solid green;
  padding: 0 1rem;
  /* display: none; */
  height: 0;
  opacity: 0;
  transition: 0.3s linear;
  z-index: -1;
}
.about__aside-link {
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-size: var(--normal-fs);
  font-weight: var(--fw-regular);
  letter-spacing: 1px;
}
.about__aside-link a {
  color: var(--color-black);
}

/* about aside animation appear */
.show__aside-list {
  display: block;
  height: 100%;
  opacity: 1;
  z-index: 1;
}

/* ===== ABOUT US ===== */
.about__us {
  padding: 3rem 1rem;
  width: 100%;
}

.about__us-title {
  font-size: var(--h2-fs);
  padding: 1rem 0;
}

.about__us-paragraph {
  margin-bottom: 2rem;
  line-height: 1.4;
  font-size: var(--small-fs);
}

.about__us-image {
  background-image: url(../../static/images/about-us-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 13rem;
  margin-bottom: 2rem;
}

/* ===== OUR STORY ===== */
.about__story {
  margin-bottom: 4rem;
}

.about__story-title {
  font-size: var(--h2-fs);
  padding: 1rem 0 1rem 1rem;
}

.story__swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.story__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.story__slide-line {
  border-top: 3px solid black;
  width: 100%;
  margin: 2rem;
}
.story__slide-circle {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-red);
  border-radius: 50%;
  position: absolute;
  top: 1rem;
}
.story__slide-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}
.story__slide-title {
  font-size: var(--h1-fs);
  margin: 1rem 0;
}
.story__slide-paragraph {
  text-align: center;
  line-height: 1.3;
  margin: 0 1rem;
}
.swiper-horizontal .swiper-scrollbar {
  position: absolute;
  top: 86%;
}

.swiper-scrollbar .swiper-scrollbar-drag {
  background-color: var(--color-red);
}
.swiper .swiper-button-next {
  position: absolute;
  top: 94%;
  left: 90%;
}

.swiper .swiper-button-prev {
  position: absolute;
  top: 94%;
  left: 80%;
}
.swiper .swiper-button-next::after {
  font-size: 0.7rem;
  color: var(--color-black);
}
.swiper .swiper-button-prev::after {
  font-size: 0.7rem;
  color: var(--color-black);
}
.swiper .swiper-pagination-fraction {
  width: fit-content;
  bottom: 3%;
  left: 1rem;
  font-size: var(--h3-fs);
}

/* ===== INVESTORS ===== */
.about__investors {
  padding: 1rem;
}
.about__investors-title {
  font-size: var(--h3-fs);
  padding: 1rem 0;
}

.about__invest-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.about__invest-image {
  width: 8rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#google {
  background-image: url(../../static/images/gv.png);
  background-color: #2e2e2e;
  background-size: contain;
}
#steve {
  background-image: url(../../static/images/steve.jpg);
}
#kevin {
  background-image: url(../../static/images/kevin.jpg);
}
#josh {
  background-image: url(../../static/images/josh.jpg);
}
#liam {
  background-image: url(../../static/images/liam.jpg);
}
#paddy {
  background-image: url(../../static/images/paddy.jpg);
}
#casey {
  background-image: url(../../static/images/casey.jpg);
}
.about__invest-content {
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.4;
}
.about__invest-name {
  font-size: var(--normal-fs);
}
.about__invest-title {
  font-size: var(--small-fs);
}
/* ===== SUSTAINABILITY ===== */
.about__sustainability {
  padding: 4rem 1rem;
}

.sustain__title {
  font-size: var(--h3-fs);
  padding: 1rem 0;
}
.sustain__image {
  background-image: url(../../static/images/sustain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
  margin-bottom: 2rem;
}
.sustain__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sustain__paragraph {
  font-size: var(--normal-fs);
  line-height: 1.4;
}
/*==================== MEDIA QUERIES ====================*/ ;
