/* ===== ear (1) product ===== */
.main {
  width: 100vw;
  height: 100%;
}

.section {
  display: flex;
  width: 100vw;
  height: 100%;
}

/* main description */
.product__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product__swiper {
  position: absolute;
  top: 9%;
  width: 100%;
  height: 45%;
}

.product__swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.black__earphone .swiper-wrapper .swiper-slide {
  background-color: var(--color-white);
}

.white__earphone .swiper-wrapper .swiper-slide {
  background-color: var(--color-black);
}

.product__swiper-slide img {
  width: 80%;
}

/* product text content */
.product__text-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100vw;
  z-index: var(--z-10);
}

.product__swipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: var(--small-fs);
  margin-bottom: 0.5rem;
}

.product__swipe-icon:first-child {
  font-size: var(--h3-fs);
  animation: swipeLeft 1.5s linear infinite;
}

@keyframes swipeLeft {
  50% {
    transform: translateX(0.5rem);
  }
}

.product__swipe-icon:last-child {
  font-size: var(--h3-fs);
  animation: swipeRight 1.5s linear infinite;
}

@keyframes swipeRight {
  50% {
    transform: translateX(-0.5rem);
  }
}

.product__swipe-text {
  font-weight: var(--fw-bold);
}

.product__title {
  font-size: var(--h3-fs);
  margin-bottom: 0.5rem;
}

.product__text {
  font-size: var(--normal-fs);
  line-height: 1.4;
  margin-bottom: 1rem;
}

.product__color-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.button {
  color: var(--color-white);
  background-color: var(--color-black);
  letter-spacing: 2px;
  font-size: var(--normal-fs);
  margin: 0;
  width: 100%;
}

.product__price {
  font-size: var(--normal-fs);
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
}

.button__cart {
  background-color: var(--color-red);
}

/* hide swiper */
.hide__swiper {
  display: none;
}

/*  Product Description Details */
.ear__description-detail {
  width: 100vw;
  height: calc(100vh - 4.3rem);
}

.description__detail-container {
  width: 100%;
  height: 100%;
}

/* swiper */
.description__detail-swiper {
  height: 100%;
}

.description__detail-swiper-wrapper {
  height: 100%;
}

.description__detail-swiper-slide {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.slide__one {
  background-color: var(--color-black);
}

.slide__two {
  background-color: var(--color-white);
}

.slide__three {
  background-color: var(--color-black);
}

.slide__four {
  background-color: var(--color-white);
}

.image__one {
  width: 85%;
  position: absolute;
  top: 5%;
  left: -15%;
}

.detail-swiper-image-container {
  width: 100%;
  height: 100%;
}

.image__two {
  position: absolute;
  object-fit: cover;
  object-position: 0% bottom;
  height: 23rem;
  top: 13%;
  right: -6%;
}

.image__three {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 40%;
  transform: scale(2);
}

.image__four {
  position: absolute;
  object-fit: cover;
  object-position: 29% bottom;
  height: 28rem;
  top: 3%;
  right: 10%;
}

.detail-swiper-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 0;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background: rgba(16, 16, 16, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
}

.detail-swiper-title {
  color: var(--color-white);
  font-family: var(--font-dot);
  font-size: var(--normal-fs);
  letter-spacing: 2px;
  margin-top: 0.5rem;
}

.detail-swiper-paragraph {
  color: var(--color-white);
  font-size: var(--small-fs);
  font-weight: var(--fw-medium);
  letter-spacing: 1px;
  line-height: 1.4;
}

/* pagination */
.description__detail-pagination {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
}

.description__detail-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid var(--color-red);
  background: transparent;
  opacity: 1;
}

.description__detail-pagination .swiper-pagination-bullet-active {
  width: 30px;
  transition: width 0.5s;
  border-radius: 5px;
  background: var(--color-red);
  border: 1px solid transparent;
}

/* Product Features */
.product__features {
  width: 100%;
  height: calc(100% - 4.3rem);
  display: flex;
  flex-direction: column;
}

.product__feature-title {
  margin: 4rem 1rem 1rem;
  font-family: var(--font-body);
  text-transform: uppercase;
  font-size: var(--big-fs);
  font-weight: var(--fw-extra-bold);
}

.product__feature-accordion {
  margin: 0 1rem 4rem;
}

.accordion__item {
  border-bottom: 2px solid var(--color-black);
  padding: 1rem 0;
  overflow: hidden;
}

.accordion__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  font-size: var(--h3-fs);
  text-transform: uppercase;
  color: var(--color-black);
  background-color: transparent;
  cursor: pointer;
}

.feature__accordion-icon {
  font-size: var(--h2-fs);
  transition: 0.2s linear;
}

.accordion__content {
  display: flex;
  flex-direction: column;
  max-height: 0;
  padding: 0 1rem;
  opacity: 0;
  overflow: hidden;
  transition: 0.2s linear;
}

.dimensions__content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.dimensions__wrap {
  display: flex;
  flex-direction: column;
}

.dimensions__title {
  font-size: var(--h3-fs);
  margin-bottom: 1rem;
}

.dimensions__image-warp {
  margin-bottom: 1rem;
}

.dimensions__image-warp:last-child {
  margin-bottom: 0;
}

.dimensions-wrap {
  margin-bottom: 1rem;
}

.detail-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  line-height: 1.4;
  padding: 0.2rem 0;
}

.standard {
  flex: 1;
  font-weight: var(--fw-semi-bold);
  text-align: left;
}

.value {
  flex: 2;
  font-weight: var(--fw-regular);
  text-align: right;
}

.sound__content {
  display: flex;
  flex-direction: column;
}

.sound__content .detail-wrap {
  margin-bottom: 0;
}

.voice__content {
  display: flex;
  flex-direction: column;
}

/* active feature icon & content */
.active__feature-icon {
  transform: rotate(90deg);
}

.active__feature-content {
  display: flex;
  opacity: 1;
  margin-top: 1rem;
  max-height: max-content;
}

/*==================== MEDIA QUERIES ====================*/
/* For smaller devices */
/* like Galaxy Fold */
@media screen and (max-width: 350px) {
  .product__swipe-text {
    font-size: var(--smaller-fs);
  }

  .product__text {
    font-size: var(--small-fs);
  }

  .detail-swiper-title {
    font-size: var(--small-fs);
  }

  .detail-swiper-paragraph {
    font-size: var(--smaller-fs);
    font-weight: var(--fw-regular);
  }

  .product__feature-title {
    font-size: var(--h1-fs);
  }

  .accordion__link {
    font-size: var(--normal-fs);
  }

  .dimensions__title {
    font-size: var(--normal-fs);
  }

  .standard {
    font-size: var(--small-fs);
  }

  .value {
    font-size: var(--small-fs);
  }
}

/* For medium devices */
/* 세로 */
@media screen and (min-width: 500px) {
  .product__swiper {
    height: 50%;
  }

  .image__one {
    width: 60%;
    position: absolute;
    top: 3%;
    left: 20%;
  }

  .image__two {
    height: 25rem;
    top: 10%;
    right: 0%;
  }

  .image__three {
    top: 15%;
    left: 30%;
    transform: scale(1.5);
  }

  .image__four {
    object-position: 29% bottom;
    height: 29rem;
    top: 3%;
    right: 0%;
  }
}

@media screen and (min-width: 568px) {
  .product__swiper {
    height: 55%;
  }
}

/* 가로 */
@media screen and (min-width: 768px) {
  .ear__description-detail {
    height: 100vh;
  }

  .image__one {
    top: 7%;
  }

  .image__two {
    height: 38rem;
  }

  .image__three {
    left: 35%;
    transform: scale(1.6);
  }

  .image__four {
    height: 40rem;
    top: 7%;
  }

  .detail-swiper-text {
    padding: 2rem 5rem;
  }

  .product__features {
    padding: 0 8rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .product__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .product__swiper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .product__swiper-slide {
    position: absolute;
    top: -7%;
  }

  .product__text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: static;
    gap: 1rem;
    padding-right: 2rem;
  }

  .product__swipe-container {
    position: absolute;
    left: 25%;
    bottom: 3.5rem;
  }

  .product__title {
    font-size: var(--h1-fs);
  }

  .product__price {
    font-size: var(--h3-fs);
  }

  .ear__description-detail {
    height: 100%;
  }

  .detail-swiper-container {
    max-width: 1024px;
    width: 100%;
    height: 65vh;
    max-height: 65vh;
    position: relative;
  }

  .detail-swiper-text {
    width: 100%;
  }

  .image__one {
    width: 40%;
    left: 30%;
  }

  .image__two {
    width: 100%;
    height: 78%;
  }

  .image__three {
    width: 65%;
    left: 40%;
  }

  .image__four {
    width: 100%;
    height: 75%;
  }

  .product__features {
    max-width: 1024px;
    margin: 0 auto;
    padding: 3.5rem 8rem;
  }
}
