/*==================== VARIABLES CSS ====================*/
:root {
  /*===== Colors =====*/
  --color-white: #fff;
  --color-light-gray: #565656;
  --color-dark-gray: #181715;
  --color-black: #000;
  --color-red: #d21314;

  /*===== Font Family =====*/
  --font-body: 'Noto Sans Mono', monospace;
  --font-dot: 'quaxiculo';
  --font-bold: 'Fredoka One', cursive;

  /*===== Font Weight =====*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /*===== Font Size =====*/
  --big-fs: 2rem; /* 32px */
  --h1-fs: 1.5rem; /* 24px */
  --h2-fs: 1.25rem; /* 20px */
  --h3-fs: 1.125rem; /* 18px */
  --normal-fs: 0.938rem; /* 15px */
  --small-fs: 0.813rem; /* 13px */
  --smaller-fs: 0.75rem; /* 12px */

  /*===== z-index =====*/
  --z-1: 1;
  --z-10: 10;
  --z-100: 100;
}

/* ===== ear (1) product ===== */
/* main description */
.ear__one-product {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.product__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.swiper {
  position: absolute;
  top: 9%;
  width: 100vw;
  height: 45%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.black__earphone .swiper-wrapper .swiper-slide {
  background-color: var(--color-white);
}
.white__earphone .swiper-wrapper .swiper-slide {
  background-color: var(--color-black);
}

.swiper-slide img {
  width: 90%;
}

/* product text content */
.product__text-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100vw;
  z-index: var(--z-10);
}

.product__swipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: var(--small-fs);
  margin-bottom: 0.5rem;
}
.product__swipe-icon:first-child {
  font-size: var(--h3-fs);
  animation: swipeLeft 1.5s linear infinite;
}
@keyframes swipeLeft {
  50% {
    transform: translateX(0.5rem);
  }
}
.product__swipe-icon:last-child {
  font-size: var(--h3-fs);
  animation: swipeRight 1.5s linear infinite;
}
@keyframes swipeRight {
  50% {
    transform: translateX(-0.5rem);
  }
}
.product__swipe-text {
  font-weight: var(--fw-bold);
}
.product__title {
  font-size: var(--h3-fs);
  margin-bottom: 0.5rem;
}

.product__text {
  font-size: var(--normal-fs);
  line-height: 1.4;
  margin-bottom: 1rem;
}

.product__color-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.button {
  color: var(--color-white);
  background-color: var(--color-black);
  letter-spacing: 2px;
  font-size: var(--normal-fs);
  margin: 0;
  width: 100%;
}

.product__price {
  font-size: var(--normal-fs);
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
}
.button__cart {
  background-color: var(--color-red);
}

/* hide swiper & hide carbon image */
.hide__swiper {
  display: none;
}

/*==================== MEDIA QUERIES ====================*/
/* For smaller devices */
/* like Galaxy Fold */
@media screen and (max-width: 350px) {
}

/* For medium devices */
/* 세로 */
@media screen and (min-width: 568px) {
}
/* 가로 */
@media screen and (min-width: 768px) {
}

/* For large devices */
@media screen and (min-width: 1024px) {
}
