/*==================== VARIABLES CSS ====================*/
:root {
  /*===== Colors =====*/
  --color-white: #fff;
  --color-light-gray: #565656;
  --color-dark-gray: #181715;
  --color-black: #000;
  --color-red: #d21314;

  /*===== Font Family =====*/
  --font-body: 'Noto Sans Mono', monospace;
  --font-dot: 'quaxiculo';
  --font-bold: 'Fredoka One', cursive;

  /*===== Font Weight =====*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /*===== Font Size =====*/
  --big-fs: 2rem; /* 32px */
  --h1-fs: 1.5rem; /* 24px */
  --h2-fs: 1.25rem; /* 20px */
  --h3-fs: 1.125rem; /* 18px */
  --normal-fs: 0.938rem; /* 15px */
  --small-fs: 0.813rem; /* 13px */
  --smaller-fs: 0.75rem; /* 12px */

  /*===== z-index =====*/
  --z-1: 1;
  --z-10: 10;
  --z-100: 100;
}

/* ===== ear (1) product ===== */
.main {
  border: 3px solid teal;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  /* height: fit-content; */
  height: 100vh;
  /* height: 100%; */
  /* scroll-behavior: smooth; */
}
.section {
  border: 2px dashed blue;
  scroll-snap-align: center;
  scroll-margin-top: 4.3rem;
  display: flex;
  width: 100vw;
  height: 100%;
}
.footer {
  scroll-snap-align: start;
}

/* main description */
.product__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product__swiper {
  position: absolute;
  top: 9%;
  width: 100%;
  height: 45%;
}

.product__swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.black__earphone .swiper-wrapper .swiper-slide {
  background-color: var(--color-white);
}
.white__earphone .swiper-wrapper .swiper-slide {
  background-color: var(--color-black);
}

.product__swiper-slide img {
  width: 80%;
}

/* product text content */
.product__text-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100vw;
  z-index: var(--z-10);
}

.product__swipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: var(--small-fs);
  margin-bottom: 0.5rem;
}
.product__swipe-icon:first-child {
  font-size: var(--h3-fs);
  animation: swipeLeft 1.5s linear infinite;
}
@keyframes swipeLeft {
  50% {
    transform: translateX(0.5rem);
  }
}
.product__swipe-icon:last-child {
  font-size: var(--h3-fs);
  animation: swipeRight 1.5s linear infinite;
}
@keyframes swipeRight {
  50% {
    transform: translateX(-0.5rem);
  }
}
.product__swipe-text {
  font-weight: var(--fw-bold);
}
.product__title {
  font-size: var(--h3-fs);
  margin-bottom: 0.5rem;
}

.product__text {
  font-size: var(--normal-fs);
  line-height: 1.4;
  margin-bottom: 1rem;
}

.product__color-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.button {
  color: var(--color-white);
  background-color: var(--color-black);
  letter-spacing: 2px;
  font-size: var(--normal-fs);
  margin: 0;
  width: 100%;
}

.product__price {
  font-size: var(--normal-fs);
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
}
.button__cart {
  background-color: var(--color-red);
}

/* hide swiper */
.hide__swiper {
  display: none;
}

/*  Product Description Details */
.ear__description-detail {
  width: 100vw;
  height: calc(100vh - 4.3rem);
}
.description__detail-container {
  width: 100%;
  height: 100%;
}
/* swiper */
.description__detail-swiper {
  height: 100%;
}
.description__detail-swiper-wrapper {
  /* height: 95%; */
  height: 100%;
}
.description__detail-swiper-slide {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.slide__one {
  background-color: var(--color-black);
}
.slide__two {
  background-color: var(--color-white);
}
.slide__three {
  background-color: var(--color-black);
}
.slide__four {
  background-color: var(--color-white);
}

.image__one {
  width: 85%;
  position: absolute;
  top: 5%;
  left: -15%;
}
.detail-swiper-image-container {
  width: 100%;
  height: 100%;
}
.image__two {
  position: absolute;
  object-fit: cover;
  object-position: 0% bottom;
  height: 23rem;
  top: 13%;
  right: -6%;
}
.image__three {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 40%;
  transform: scale(2);
}

.image__four {
  position: absolute;
  object-fit: cover;
  object-position: 29% bottom;
  height: 28rem;
  top: 3%;
  right: 10%;
}

.detail-swiper-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 0;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background: rgba(16, 16, 16, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
}

.detail-swiper-title {
  color: var(--color-white);
  font-family: var(--font-dot);
  font-size: var(--normal-fs);
  letter-spacing: 2px;
  margin-top: 0.5rem;
}
.detail-swiper-paragraph {
  color: var(--color-white);
  font-size: var(--small-fs);
  font-weight: var(--fw-medium);
  letter-spacing: 1px;
  line-height: 1.4;
}
/* pagination */
.description__detail-pagination {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
}

.description__detail-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid var(--color-red);
  background: transparent;
  opacity: 1;
}

.description__detail-pagination .swiper-pagination-bullet-active {
  width: 30px;
  transition: width 0.5s;
  border-radius: 5px;
  background: var(--color-red);
  border: 1px solid transparent;
}

/* Product Features */
.product__features {
  border: 1px solid red;
  width: 100%;
  height: calc(100% - 4.3rem);

  display: flex;
  flex-direction: column;
}
.product__feature-title {
  border: 1px solid blue;
  margin: 1rem;
  font-family: var(--font-body);
  text-transform: uppercase;
  font-size: var(--big-fs);
  font-weight: var(--fw-extra-bold);
}

.product__feature-accordion {
  border: 1px solid pink;
  margin: 0 1rem;
}
.accordion__item {
  border: 1px solid red;
  /* border-bottom: 2px solid var(--color-black); */
  padding: 1rem 0;
  overflow: hidden;
}
.accordion__link {
  border: 1px solid orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: var(--h3-fs);
  text-transform: uppercase;
  color: var(--color-black);
  background-color: transparent;
  cursor: pointer;
}
.feature__accordion-icon {
  font-size: var(--h2-fs);
  transition: 0.2s linear;
}
.accordion__content {
  /* display: none; */
  border: 1px solid blue;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s linear;
}
.dimensions__content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.dimensions__wrap {
  display: flex;
  flex-direction: column;
}
.dimensions__title {
  border: 1px solid blue;
  font-size: var(--h3-fs);
  margin-bottom: 1rem;
}
.detail-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.standards {
  font-weight: var(--fw-semi-bold);
  text-align: left;
}
.values {
  font-weight: var(--fw-regular);
  text-align: right;
}

/* active feature icon & content */
.active__feature-icon {
  transform: rotate(90deg);
}
.active__feature-content {
  display: flex;
  opacity: 1;
  margin-top: 1rem;
  max-height: max-content;
}
/*==================== MEDIA QUERIES ====================*/
/* For smaller devices */
/* like Galaxy Fold */
@media screen and (max-width: 350px) {
}

/* For medium devices */
/* 세로 */
@media screen and (min-width: 568px) {
}
/* 가로 */
@media screen and (min-width: 768px) {
}

/* For large devices */
@media screen and (min-width: 1024px) {
}
