/*==================== FONT FACE ====================*/
@font-face {
  font-family: 'quaxiculo';
  src: url('../font/Quaxiculo.ttf') format('truetype');
}

/*==================== Google Font ====================*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+Mono:wght@300;400;500;600;700;800;900&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  /*===== Colors =====*/
  --color-white: #fff;
  --color-light-gray: #565656;
  --color-dark-gray: #181715;
  --color-black: #000;
  --color-red: #d21314;

  /*===== Font Family =====*/
  --font-body: 'Noto Sans Mono', monospace;
  --font-dot: 'quaxiculo';
  --font-bold: 'Fredoka One', cursive;

  /*===== Font Weight =====*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /*===== Font Size =====*/
  --big-fs: 2rem; /* 32px */
  --h1-fs: 1.5rem; /* 24px */
  --h2-fs: 1.25rem; /* 20px */
  --h3-fs: 1.125rem; /* 18px */
  --normal-fs: 0.938rem; /* 15px */
  --small-fs: 0.813rem; /* 13px */
  --smaller-fs: 0.75rem; /* 12px */

  /*===== z-index =====*/
  --z-1: 1;
  --z-10: 10;
  --z-100: 100;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-fs: 3rem; /* 48px */
    --h1-fs: 2.25rem; /* 36px */
    --h2-fs: 1.5rem; /* 24px */
    --h3-fs: 1.25rem; /* 20px */
    --normal-fs: 1rem; /* 16px */
    --small-fs: 0.875rem; /* 14px */
    --smaller-fs: 0.813rem; /* 13px */
  }
}

/*==================== BASE ====================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-size: var(--normal-fs);
  background-color: var(--color-white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== CONTENTS ====================*/

/*===== NAVBAR =====*/
.header {
  position: fixed;
  width: 100vw;
}
.nav {
  overflow: hidden;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: var(--color-white);
}

.nav__logo {
  display: flex;
  margin-left: 1rem;
  font-family: var(--font-dot);
  font-size: var(--h2-fs);
}

.nav__logo-text {
  display: flex;
  height: 3rem;
  align-items: center;
  color: var(--color-black);
}

.nav__shadow {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease;
}

.nav__menu {
  position: absolute;
  top: 0;
  right: -100%;
  width: 75vw;
  height: 100vh;
  background-color: var(--color-dark-gray);
  font-size: var(--big-fs);
  font-weight: var(--fw-semi-bold);
  color: var(--color-white);
  z-index: var(--z-10);
  transition: 0.3s ease;
  overflow: hidden;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  height: 100vh;
  gap: 4rem;
  text-align: left;
}

.nav__link {
  color: var(--color-white);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3.5rem;
  cursor: pointer;
}

.nav__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  gap: 1rem;
  font-size: var(--h1-fs);
}

.nav__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* show menu */
.show__menu {
  right: 0;
}

.show__menu-shadow {
  z-index: 1;
  opacity: 1;
}

/*===== HOME =====*/

/*==================== MEDIA QUERIES ====================*/ ;
