/*==================== CONTENTS ====================*/
/*===== SCROLL MAGIC CLASS =====*/
.show .content__wrap {
  animation: appearFromRight 1.3s;
}

.show .ear__image {
  animation: appearFromBottom 1.3s;
}

.show .about__image {
  animation: appearFromBottom 1.3s;
}

@keyframes appearFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*===== HOME =====*/
.main {
  width: 100vw;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-black);
  color: var(--color-white);
}

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.home__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-size: 4.1em;
  font-weight: var(--fw-extra-bold);
  letter-spacing: 5px;
  position: relative;
  z-index: 0;
  animation-fill-mode: initial;
}

.home__dot::after {
  content: '';
  display: flex;
  align-self: flex-end;
  border: 3px solid var(--color-black);
  background-color: var(--color-red);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home__image-container {
  overflow: hidden;
  width: 90%;
  height: 20em;
  display: flex;
  justify-content: center;
}

.home__image {
  width: 20em;
  height: 20em;
  object-fit: cover;
  object-position: bottom;
  transform: scale(-30px);
}

/*===== PRODUCT =====*/
.ear__one {
  overflow: hidden;
}

.ear__container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem 0;
}

.title {
  font-family: var(--font-dot);
  font-size: var(--big-fs);
  margin-bottom: 1.2rem;
}

.subtitle {
  font-family: var(--font-bold);
  font-size: var(--h3-fs);
  margin-bottom: 1rem;
  letter-spacing: 3px;
}

.paragraph {
  font-size: var(--normal-fs);
  line-height: 1.5;
}

.ear__btn {
  color: var(--color-white);
  background-color: var(--color-black);
}

.ear__btn:hover {
  color: var(--color-red);
}

.image__container {
  width: 100%;
  height: max-content;
  display: flex;
  margin: 3rem 0;
}

.ear__image {
  object-fit: cover;
  object-position: 15% bottom;
  height: 20rem;
}

/*===== Marquee =====*/
.marquee {
  display: flex;
}

.marquee-inner {
  display: flex;
  align-items: center;
  height: 3rem;
  font-family: var(--font-dot);
  font-size: var(--h1-fs);
  color: var(--color-white);
  background-color: var(--color-red);
  animation: infiniteMarquee 10s linear infinite;
}

.marquee-text {
  width: max-content;
  letter-spacing: 4px;
}

.marquee-text::after {
  content: '-';
  padding: 0 0.5rem;
}

@keyframes infiniteMarquee {
  100% {
    transform: translateX(-100%);
  }
}

/*===== Youtube Video =====*/
.video__container {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*===== ABOUT US =====*/
.about {
  overflow: hidden;
}

.about__container {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  color: var(--color-white);
}

.about__btn {
  background-color: var(--color-red);
  color: var(--color-white);
}

.about__image {
  object-fit: cover;
  object-position: 50% bottom;
  height: 20rem;
}

/*==================== MEDIA QUERIES ====================*/
/* For smaller devices */
/* like Galaxy Fold */
@media screen and (max-width: 350px) {
  .home__title {
    font-size: 3rem;
  }

  .home__image-container {
    height: 16em;
    position: relative;
  }

  .home__image {
    position: absolute;
    top: -20%;
    object-fit: cover;
  }

  .home__dot::after {
    width: 1.2rem;
    height: 1.2rem;
  }

  .title {
    font-size: var(--h1-fs);
  }

  .subtitle {
    font-size: var(--normal-fs);
  }

  .paragraph {
    font-size: var(--normal-fs);
  }

  .ear__image {
    object-position: 26% bottom;
  }
}

/* 가로 */
@media screen and (min-width: 768px) {
  .home__title {
    font-size: 7rem;
  }

  .home__image-container {
    height: 100%;
  }

  .home__image {
    width: 30em;
    height: 30em;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    place-items: center;
    gap: 1.5rem;
    padding: 0 1.5rem;
    margin: 4rem 0;
  }

  .content__wrap {
    padding: 1rem;
    order: 2;
  }

  .paragraph {
    line-height: 1.5rem;
  }

  .image__container {
    order: 1;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .home__dot::after {
    width: 2rem;
    height: 2rem;
  }

  .video__container {
    max-width: 1024px;
    width: 100%;
    margin: 3rem auto 0;
    display: flex;
    padding-top: 576px;
  }

  .content {
    max-width: 1024px;
    margin: 3rem auto;
  }

  .title,
  .subtitle,
  .paragraph {
    margin-bottom: 1.5rem;
  }

  .paragraph {
    line-height: 1.7;
  }

  .image__container {
    height: 30rem;
    overflow: hidden;
  }

  .ear__image {
    transform: scale(1);
    object-position: 20% bottom;
    height: 100%;
    width: 100%;
  }

  .about__image {
    transform: scale(1.2);
    object-position: 50% bottom;
    height: 100%;
    width: 100%;
  }
}
