/*==================== FONT FACE ====================*/
@font-face {
  font-family: 'quaxiculo';
  src: url('../font/Quaxiculo.ttf') format('truetype');
}

/*==================== Google Font ====================*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+Mono:wght@300;400;500;600;700;800;900&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  /*===== Colors =====*/
  --color-white: #fff;
  --color-light-gray: #565656;
  --color-dark-gray: #181715;
  --color-black: #000;
  --color-red: #d21314;

  /*===== Font Family =====*/
  --font-body: 'Noto Sans Mono', monospace;
  --font-dot: 'quaxiculo';
  --font-bold: 'Fredoka One', cursive;

  /*===== Font Weight =====*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /*===== Font Size =====*/
  --big-fs: 2rem; /* 32px */
  --h1-fs: 1.5rem; /* 24px */
  --h2-fs: 1.25rem; /* 20px */
  --h3-fs: 1.125rem; /* 18px */
  --normal-fs: 0.938rem; /* 15px */
  --small-fs: 0.813rem; /* 13px */
  --smaller-fs: 0.75rem; /* 12px */

  /*===== z-index =====*/
  --z-1: 1;
  --z-10: 10;
  --z-100: 100;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-fs: 3rem; /* 48px */
    --h1-fs: 2.25rem; /* 36px */
    --h2-fs: 1.5rem; /* 24px */
    --h3-fs: 1.25rem; /* 20px */
    --normal-fs: 1rem; /* 16px */
    --small-fs: 0.875rem; /* 14px */
    --smaller-fs: 0.813rem; /* 13px */
  }
}

/*==================== BASE ====================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-size: var(--normal-fs);
  background-color: var(--color-white);
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 10px;
  width: max-content;
  padding: 0.5rem 1rem;
  font-size: var(--h3-fs);
  font-weight: var(--fw-semi-bold);
  text-transform: uppercase;
  margin-top: 1.5rem;
}
/*==================== CONTENTS ====================*/

/*===== NAVBAR =====*/
.header {
  position: fixed;
  width: 100vw;
  z-index: var(--z-100);
}

.nav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: var(--color-white);
}

.nav__logo {
  display: flex;
  margin-left: 1rem;
  font-family: var(--font-dot);
  font-size: var(--h2-fs);
}

.nav__logo-text {
  display: flex;
  height: 3rem;
  align-items: center;
  color: var(--color-black);
  letter-spacing: 1.2px;
}

.nav__shadow {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  opacity: 0;
  transition: 0.3s ease;
}

.nav__menu {
  position: absolute;
  top: 0;
  right: -100%;
  width: 75vw;
  height: 100vh;
  background-color: var(--color-dark-gray);
  font-size: var(--big-fs);
  font-weight: var(--fw-semi-bold);
  color: var(--color-white);
  z-index: var(--z-10);
  transition: 0.3s ease;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  height: 100vh;
  gap: 4rem;
  text-align: left;
}

.nav__link {
  color: var(--color-white);
}

.nav__link span {
  margin-left: 0.4rem;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3.5rem;
  cursor: pointer;
}

.nav__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  gap: 1rem;
  font-size: var(--h1-fs);
}

.nav__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* show menu */
.show__menu {
  right: 0;
}

.show__menu-shadow {
  opacity: 1;
  display: block;
}

/*===== HOME =====*/
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-black);
  color: var(--color-white);
}

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.home__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-size: 4.1em;
  font-weight: var(--fw-extra-bold);
  letter-spacing: 5px;
  position: relative;
  z-index: 0;
  animation-fill-mode: initial;
}

.home__dot::after {
  content: '';
  display: block;
  border: 3px solid var(--color-black);
  background-color: var(--color-red);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 1.5rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home__image-container {
  overflow: hidden;
  width: 90%;
  height: 20em;
  display: flex;
  justify-content: center;
}

.home__image {
  width: 20em;
  height: 20em;
  object-fit: cover;
  object-position: bottom;
  transform: scale(-30px);
}

/*===== PRODUCT =====*/
.ear__one {
  overflow: hidden;
}

.ear__container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem;
}

.title {
  font-family: var(--font-dot);
  font-size: var(--big-fs);
  margin-bottom: 1.2rem;
}

.subtitle {
  font-family: var(--font-bold);
  font-size: var(--h3-fs);
  margin-bottom: 1rem;
  letter-spacing: 3px;
}

.paragraph {
  font-size: var(--normal-fs);
  line-height: 1.5;
}

.ear__btn {
  color: var(--color-white);
  background-color: var(--color-black);
}

.ear__btn:hover {
  color: var(--color-red);
}

.image__container {
  width: 100%;
  height: max-content;
  display: flex;
  margin-bottom: 3rem;
}
.ear__image {
  object-fit: cover;
  object-position: 15% bottom;
  height: 20rem;
}

/*===== Marquee =====*/
.marquee {
  display: flex;
}

.marquee-inner {
  display: flex;
  align-items: center;
  height: 3rem;
  font-family: var(--font-dot);
  font-size: var(--h1-fs);
  color: var(--color-white);
  background-color: var(--color-red);
  animation: infiniteMarquee 10s linear infinite;
}

.marquee-text {
  width: max-content;
  letter-spacing: 4px;
}

.marquee-text::after {
  content: '-';
  padding: 0 0.5rem;
}

@keyframes infiniteMarquee {
  100% {
    transform: translateX(-100%);
  }
}

/*===== Youtube Video =====*/
.video__container {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*===== ABOUT US =====*/
.about {
  overflow: hidden;
}

.about__container {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  color: var(--color-white);
}

.about__btn {
  background-color: var(--color-red);
  color: var(--color-white);
}

.about__image {
  object-fit: cover;
  object-position: 50% bottom;
  height: 20rem;
}

/*==================== MEDIA QUERIES ====================*/
